<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="imis.client"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--  
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
-->
    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="17"/>

    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo"
            android:allowBackup="false">

        <!--android:theme="@style/AppTheme"  -->


        <!-- Vlastni poskytovatel obsahu -->
        <provider
                android:name=".persistent.MyContentProvider"
                android:authorities="imisoid.contentprovider"
                android:exported="false">
        </provider>

        <!-- Sluzba authentikace -->
        <service
                android:name=".authentication.AuthenticationService"
                android:exported="true"
                android:permission="normal">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

        <!-- Sluzba synchronizace -->
        <service
                android:name=".syncadapter.SyncService"
                android:exported="true"
                android:permission="normal">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>

        <activity android:name=".ui.activities.DayTimelineActivity"
                  android:theme="@android:style/Theme.Holo.Light">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Aktivita pro editaci a pridani nove udalosti. -->
        <activity android:name=".ui.activities.EventEditorActivity"
                  android:configChanges="orientation|screenSize"
                >

            <!-- Filter - akce editovani zvoleneho ukolu android:configChanges="keyboardHidden|orientation"-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/event.imisoid"/>
            </intent-filter>

            <!-- Filtr - akce pridani noveho ukolu -->
            <intent-filter>
                <action android:name="android.intent.action.INSERT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.dir/event.imisoid"/>
            </intent-filter>

        </activity>

        <!-- Aktivita pro authentikaci -->
        <activity
                android:name=".authentication.AuthenticatorActivity"
                android:excludeFromRecents="true"
                android:configChanges="orientation"
                >
            <!--
            android:theme="@android:style/Theme.Dialog"
                No intent-filter here! This activities is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <activity android:name=".ui.activities.NetworkSettingsActivity"/>
        <activity android:name=".ui.activities.CalendarActivity"></activity>
        <activity android:name=".ui.activities.RecordsChartActivity"></activity>
        <activity android:name=".ui.activities.PresentEmployeesActivity"></activity>
        <activity android:name=".ui.activities.EventsChartActivity"></activity>
        <activity android:name=".ui.activities.RecordListActivity"></activity>
        <activity android:name=".ui.activities.InfoColorActivity"></activity>
        <activity android:name=".ui.activities.RecordDetailActivity"></activity>
        <activity android:name=".ui.activities.EmployeeDetailActivity"/>


        <!-- Widget -->
        <receiver android:name=".widget.WidgetProvider">
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".widget.WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>